

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}
header[name="main"] {
    min-height: 20px !important;
    height: 1.7em !important;
}
.container
{
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#gallery {
    width: 95%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.ajuste img {
    margin: 10px;
    width: 300px;
    height: 200px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.container[name="main"] {
    background-image: url('./imgs/pexels-nout-gons-80280-248159.jpg');
    background-position: center;
    height: 90vh;
}
.container[name="secondary"] {
    background-color: #3333337a;
    background-position: center;
    height: 90vh;
}
#coracao
{
    width: 80%;
    height: 50%;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
    color: #f0f0f0;

    background-color: rgba(177, 177, 177, 0.098);
    backdrop-filter: blur(8px);
    border-radius: 22px;
}
#coracao p
{
    font-size: 1.5em;
    margin: 0;
}

@media screen and (max-width: 800px) 
{
    .gallery {
        width: 100%;
    }
    /* .gallery img {
        width: 80%;
        height: auto;
    } */
}

@media screen and (min-width: 800px) 
{
    #coracao{
        width: 50%;
    }
}